body {
    display: flex;
    justify-content: center;
    align-items: center;
   }
button {
     padding: 10px;
     cursor: pointer;
}
code {
     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
       monospace;
}
.addbutton{
     display: flex;
     justify-content: space-between;
    
}
.personDetail{
     display: flex;
     justify-content: space-between;
     margin-top: 1rem;
}
.display{
     display: flex;
     justify-content:space-between;   
}
.inceasebutton{
    display: flex;
     justify-content: space-between;
    
}
.step{
    display: flex;
     justify-content: center;
     margin-top: 1rem;
}
.time{
     display: flex;
     justify-content: center;
}
.notification{
     display: flex;
     justify-content: center;
}
.notify-button{
     display: flex;
     justify-content: center;
     margin-top: 1rem;
}

.App { transition: background-color 0.5s; }
.App.light { background-color: #ffffff; color: #000000; }
.App.dark { background-color: #000000; color: #ffffff; }

.content{display: flex; justify-content: space-evenly; align-items: center;}
.content { padding: 50px; transition: background-color 0.5s; }
.content.light { background-color: #ffffff; }
.content.dark { background-color: #1a1a1a; }

.button { padding: 15px 15px; cursor: pointer; transition: background-color 0.5s; }
.button.light { background-color: #007bff; color: #ffffff; }
.button.dark { background-color: #ffffff; color: #000000; }

.button-group{
     display: flex;
     justify-content: space-between;
}
.lang-content {
     display: flex;
     justify-content: center;
     padding: 20px;
     border: 1px solid #ccc;
}
.voting-app{
     display: flex;
     justify-content: space-between;
}
.countdown{
     display: flex;
     justify-content: space-between;
}