body{
    display: flex;
    justify-content: center;
}
.question-1{
    margin-top: 10rem;
}
.input{
    display: flex;
    justify-content: center;
}
.inputvalue{
    display: flex;
    justify-content: center;
}
.form-element{
    display: flex;
    justify-content: space-evenly;
}
.radio{
    display: flex;
    justify-content: space-evenly;
}
.input-password{
    display: flex;
    justify-content: space-evenly;
}
.showInput{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.submit{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.dropdown{
    display: flex;
    justify-content: center;
}
.dropdownshow{
    display: flex;
    justify-content: center;
}
.addTask{
    display: flex;
    justify-content: center;
}
.taskList{
    display: flex;
    justify-content: center;
}
.searchList{
    display: flex;
    justify-content: center;
}
.search{
    display: flex;
    justify-content: center;
}
.temperature{
    display: flex;
    justify-content: space-between;
}
.dialogBox{
    display: flex;
    justify-content: center;
}
